# Virtual environment
.venv/

# Environment variables
.env

# Data files
data
!data/lag_lookup.json
!data/models
!data/models/*.pkl

# Python
__pycache__/
*.pyc
*.pyo

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# mac workspace
mta-congestion.code-workspace