# Virtual environment
.venv/

# Environment variables
.env

# Data files
data/cache
data/raw

# Python
__pycache__/
*.pyc
*.pyo

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# mac workspace
mta-congestion.code-workspace
.DS_Store
**/.DS_Store